.siv.imageviewer-wrap {
    position: relative;
    width: 660px;
    display: block;
}

.siv ul {
    margin: 0;
    padding: 0;
}
.siv .image-list li {
    display: inline-block;
    position: absolute;
}

.siv .image-list img {
    width: 100%;
    vertical-align:text-bottom
}
.siv .icon-nav {
    margin: 0 auto;
}

.siv .icon-nav {
    margin-top: 10px;
}
.siv .icon-nav .icon-btn {
    background: transparent url(../img/siv-unselected.png) no-repeat center center;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.siv .icon-nav .icon-btn:hover {
    background: transparent url(../img/siv-selected.png) no-repeat center center;
}
.siv .icon-nav .icon-btn.selected {
    background: transparent url(../img/siv-selected.png) no-repeat center center;
}

.siv .nav-btn {
    height: 100%;
    width: 80px;
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    background-color: #fee;
    cursor: pointer;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    -webkit-transition: opacity .4s;
       -moz-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
}
.siv .nav-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.siv .next-btn {
    background: transparent url(../img/siv-next-btn.png) no-repeat center center;
    right: 0;
}
.siv .prev-btn {
    background: transparent url(../img/siv-prev-btn.png) no-repeat center center;
    left: 0;
}
